<div class="panel panel-primary">
  {{#if isEditing}}
    {{partial "tickets/form"}}
  {{else}}
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="badge pull-right">{{status}}</span>
        {{title}}
      </h3>
    </div>
    <div class="panel-body">
      {{description}}
    </div>
  {{/if}}
  <div class="panel-footer">
    {{#if isEditing}}
      <button {{action "done"}} class="btn btn-default">Done</button>
    {{else}}
      <button {{action "edit"}} class="btn btn-default">Edit</button>
    {{/if}}
  </div>
</div>
